@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: Raleway;
    font-size: large;
}

body {
    background-color: darkslategrey;
    color: white;
}

nav {
    width: 90vw;
    position: center;
    display: grid;
    /* margin: 5px; */
}


h1 a{
    font-size: 50px;
    /* font-display: center; */
}

a {
    color: gold;
    text-decoration: none;
}

button {
    background-color: gray;
}

.search-result {
    z-index: 1;
    width: 50vw;
    /* border: 1px solid white; */
}

.login-links {
    display: grid;
    width: 100vw;
}



.search-container {
    position: absolute;
    box-shadow: 3px 3px 3px #00000088;
    background-color: #888888;
    width: 90vw;
}

.search-bar input {
    width: 99vw;
    position: center;
}

.card-container {
    /* display: flex; */

    flex-direction: row;
    flex-wrap: wrap;
}

.outer-post {
    display: flex;

}


.post-card {
    border: 1px solid white;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 3px 3px #00000088;

    flex-direction: row;

}

.post-title {
    font-weight: bolder;
    font-size: 20px;
}

.details-page-container {
    display: flex;
    flex-direction: column;
}

.user-container {
    border: 1px solid white;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 3px 3px #00000088;
    display: grid;
    align-content: center;
}

.not-logged-in-container {
    justify-content: center;
}
